#brand .brand-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 52px 0;
}

#brand .arrow {
  height: 40px;
}

#brand .arrow:hover {
  cursor: pointer;
  opacity: 0.7;
}

#brand .arrow img {
  height: 100%;
}

#brand .brand-list {
  display: flex;
  justify-content: center;
}

#brand .brand-list img {
  flex: 1;
  max-height: 120px;
  margin: 0 20px;
}
