#brand {
  margin-bottom: 52px;
}

#brand .owl-carousel {
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

#brand .owl-carousel .item {
  margin: 0 auto;
}

#brand .product-item {
  display: flex;
  justify-content: center;
}

#brand .product-item img {
  max-width: 140px;
}

#brand .owl-nav {
  display: block;
}

#brand .owl-prev,
#brand .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
}

#brand .owl-prev,
#brand .owl-next:hover {
  cursor: pointer;
  opacity: 0.7;
}

#brand .owl-prev img,
#brand .owl-next img {
  height: 100%;
}

#brand .owl-prev {
  left: 0;
}

#brand .owl-next {
  right: 0;
}