@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Nunito:wght@200;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

#collection .collection-wrapper {
  display: flex;
  margin: 52px 0;
  background-color: #d3dce3;
}

#collection .collection-wrapper .collection-image {
  flex: 1;
}

#collection .collection-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

#collection .collection-information {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

#collection .collection-name {
  width: fit-content;
  font-size: 48px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  text-align: right;
  margin-bottom: 32px;
}

#collection .collection-name > p {
  color: #191919;
}

#collection .collection-name > .name {
  color: #3a3a3a;
}

#collection .shop-now-button {
  width: 180px;
  height: 36px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #252525;
  line-height: 36px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
}

#collection .shop-now-button:hover {
  cursor: pointer;
  opacity: 0.7;
}
