/* Montserrat-Regular */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
/* Montserrat-SemiBold */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

#general .container {
  display: flex;
  justify-content: space-between;
}

#general .sidebar {
  width: 20%;
  background-color: #ebebeb;
  padding: 0 8px;
  height: fit-content;
}

#general .sidebar .title > p {
  line-height: 50px;
  padding-left: 8px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #060606;
}

#general .search-by {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

#general .search-by:hover {
  cursor: pointer;
  opacity: 0.7;
}

#general .search-by p {
  line-height: 46px;
  flex: 1;
  font-size: 15px;
  font-weight: 500;
  color: #060606;
}

#general .icon-wrapper {
  display: flex;
  align-items: center;
  width: 36px;
}

#general .brand-icon {
  height: 14px;
}

#general .store-icon {
  height: 20px;
}

#general .advanced-icon {
  color: #fbb03b;
  font-size: 24px;
  font-weight: 600;
}

#general .product-portfolio {
  display: flex;
  align-items: center;
  height: 50px;
}

#general .product-portfolio:hover {
  cursor: pointer;
  opacity: 0.7;
}

#general .product-portfolio:last-child {
  height: 56px;
}

#general .product-portfolio p {
  font-weight: 400;
  padding-left: 8px;
  font-size: 14px;
}

#general .product-portfolio .widen {
  text-align: right;
  flex: 1;
  font-weight: 500;
  font-size: 30px;
}

#general .line {
  background-color: #b7b7b7;
  height: 1px;
}

#general .main-slider {
  width: 60%;
  margin: 30px 30px 0;
}

#general .poster {
  width: 100%;
  display: flex;
  justify-content: center;
}

#general .poster .owl-dots {
  display: flex;
  justify-content: center;
}

#general .poster .owl-dot span{
  height: 14px;
  width: 14px;
  margin: 14px 6px;
  background-color: #d7d7d7;
  border-radius: 50%;
}

#general .poster .owl-dot span:hover,
#general .poster .owl-dot.active span {
  background-color: #000000;
  cursor: pointer;
}

#general .new-selling-product {
  margin-right: 10px;
}

#general #product-list .head {
  margin: 40px 0 36px;
  border: none;
}

#general #product-list .title {
  font-size: 24px;
}

#general #product-list .title .active {
  border-bottom: 5px solid #fcaf3b;
}

#general #product-list .title2 {
  margin-left: 20px;
}

#general #product-list .owl-nav {
  width: 60px;
  margin: 0;
  position: absolute;
  top: -70px;
  right: 5px;
}

#general #product-list .owl-prev,
#general #product-list .owl-next {
  height: 24px;
  width: 24px;
  font-size: 28px;
}

#general #product-list .product-item img {
  max-height: 210px;
}

#general #product-list .product-information {
  font-size: 14px;
}

#general .advertisement {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#general .advertisement img {
  width: 100%;
  margin: 30px 0;
}
