#navbar {
  position: sticky;
  top: 0;
  height: 52px;
  background-color: #ebebeb;
  z-index: 9;
}

#navbar .row {
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

#navbar .navbar-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #252525;
}

#navbar .navbar-item {
  list-style-type: none;
  margin: 0 10px;
}

#navbar .navbar-item a:active,
#navbar .navbar-item a {
  text-decoration: none;
  color: inherit;
}

#navbar .navbar-item:hover {
  cursor: pointer;
  color: #fda31b;
}

#navbar .active {
  color: #fda31b;
}

#navbar .bars {
  font-size: 21px;
  text-align: center;
}

#navbar .overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 4;
  overflow-x: hidden;
}

.nav-mobile {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 0.2s linear;
  z-index: 5;
  overflow: hidden;
}

#navbar .input-bars:not(:checked) ~ .nav-mobile {
  width: 0;
  visibility: hidden;
}

#navbar .input-bars:checked ~ .overlay {
  display: block;
}

#navbar .input-bars:checked ~ .nav-mobile {
  width: 100%;
  overflow: visible;
  visibility: visible;
}

#navbar .sidebar {
  background-color: #ebebeb;
  padding: 0 8px;
  height: fit-content;
}

#navbar .nav-close-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 70px;
  z-index: 6;
}

#navbar .nav-close-icon i {
  font-size: 24px;
}

#navbar .sidebar .title > p {
  line-height: 32px;
  font-size: 16px;
  font-weight: 600;
  color: #060606;
}

#navbar .search-by {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

#navbar .search-by p {
  line-height: 36px;
  flex: 1;
  font-size: 12px;
  font-weight: 500;
  color: #060606;
}

#navbar .icon-wrapper {
  display: flex;
  align-items: center;
  width: 32px;
}

#navbar .brand-icon {
  height: 13px;
}

#navbar .store-icon {
  height: 18px;
}

#navbar .advanced-icon {
  color: #fbb03b;
  font-size: 22px;
  font-weight: 600;
}

#navbar .product-portfolio {
  display: flex;
  align-items: center;
  height: 42px;
}

#navbar .product-portfolio p {
  font-weight: 400;
  padding-left: 8px;
  font-size: 12px;
}

#navbar .product-portfolio .widen {
  text-align: right;
  flex: 1;
  font-weight: 500;
  font-size: 26px;
}

#navbar .line {
  background-color: #b7b7b7;
  height: 1px;
}
