@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

#product-list {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

#product-list .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 5px solid #fcaf3b;
  margin-bottom: 25px;
}

#product-list .title {
  display: flex;
  color: #939393;
  font-weight: 600;
  font-size: 16px;
}

#product-list .title .title1:hover,
#product-list .title .title2:hover {
  cursor: pointer;
  color: #252525;
}

#product-list .title .active {
  color: #252525;
}

#product-list.top-right .owl-nav {
  position: absolute;
  display: flex;
  width: 72px;
  align-items: center;
  margin: 0 30px 8px 78px;
  top: -70px;
  right: 0;
}

#product-list .owl-prev,
#product-list .owl-next {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  font-size: 36px;
  color: #cccccc;
}

#product-list .owl-prev img,
#product-list .owl-next img {
  height: 100%;
}

#product-list .owl-prev:hover,
#product-list .owl-next:hover {
  cursor: pointer;
  opacity: 0.7;
  background-color: #fff;
}

#product-list .middle {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

#product-list .product-item {
  flex: 1;
  padding: 0 15px;
}

#product-list .product-item img {
  width: 100%;
}

#product-list .product-item:hover {
  cursor: pointer;
  opacity: 0.7;
}

#product-list .product-information {
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

#product-list .product-type {
  text-transform: uppercase;
}

#product-list .bottom {
  display: flex;
  justify-content: center;
}

#product-list .view-more-button {
  width: 200px;
  height: 36px;
  text-align: center;
  color: #fff;
  background-color: #252525;
  line-height: 36px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
}

#product-list .view-more-button:hover {
  cursor: pointer;
  opacity: 0.7;
}
