@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&family=Nunito:wght@700&display=swap');

#trendy .content.for-her {
    margin-top: -25px;
}

#trendy .content {
    display: flex;
    background-color: #EBEBEB;
    padding-top: 30px;
}

#trendy .content .trendy-content {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
}

#trendy .content .trendy-content.trendy-content-for-her {
    padding-right: 30px;
}

#trendy .content .trendy-content.trendy-content-for-him {
    padding-left: 30px;
}

#trendy .content .trendy-content.trendy-content-for-kid {
    padding-right: 30px;
}

#trendy .trendy-content .hashtag {
    color: #060606;
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

#trendy .trendy-content img {
    width: 100%;
    margin: 25px 0 40px;
}

#trendy .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#trendy .shop-now-button {
    background-color: #252525;
    height: 64px;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 170px;
    text-align: center;
    line-height: 64px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    font-size: 26px;
}

#trendy .shop-now-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

#trendy .trendy-products {
    flex: 4;
}

#trendy #product-list .product-item {
    padding: 0 30px;
}

#trendy .content .trendy-product {
    flex: 3;
}