/* @media (min-width: 1600px) {
  #general .main-slider {
    width: 65%;
  }

  #general .advertisement {
    width: 15%;
  }
} */

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  #general .sidebar .title > p {
    line-height: 44px;
  }

  #general .search-by p {
    line-height: 40px;
  }

  #general .product-portfolio {
    line-height: 44px;
  }

  #general .right-wrapper {
    flex-direction: column;
  }

  #general .advertisement {
    justify-content: space-around;
  }

  #general .advertisement img {
    height: 180px;
    width: 180px;
    margin: 30px 10px 0;
  }

  #shop-of-week .content {
    margin-top: 0;
  }

  #shop-of-week .owl-nav {
    display: none !important;
  }

  #shop-of-week .shop-list {
    margin-bottom: 30px;
  }

  #collection .collection-name {
    font-size: 36px;
    margin: 20px 0;
  }

  #footer {
    text-align: center;
  }
}

/* Tablet & Mobile */
@media (min-width: 375px) and (max-width: 1024px) {
  #header .outfiz-image {
    display: none !important;
  }

  #navbar .input-bars:checked ~ .overlay {
    display: block;
  }

  #navbar .input-bars:checked ~ .nav-mobile {
    display: block;
    z-index: 5;
    opacity: 1;
    transform: translateX(0);
  }

  #general #product-list .title {
    font-size: 16px;
  }

  #collection .shop-now-button {
    margin-bottom: 20px;
  }

  #shop-of-week #product-list .bottom {
    justify-content: center;
  }
  
  #banner.blog-banner,
  #banner.trendy-outfits-banner {
    height: auto;
  }

  #banner.trendy-outfits-banner img {
    height: auto;
  }

  #banner.blog-banner .blog-image,
  #banner.blog-banner .sale-items {
    height: auto;
  }
}

/* Mobile */
@media (min-width: 375px) and (max-width: 739px) {
  #header {
    position: sticky;
    top: 0;
    padding-bottom: 0;
  }

  #header .header-top {
    display: none !important;
  }

  #header .header-bottom {
    padding: 0;
  }

  #header .search-wrapper {
    width: 70%;
  }

  #header .search-icon {
    right: 20px;
  }

  #header .like,
  #header .cart {
    margin: 0 10px;
  }

  #navbar .navbar-wrapper {
    font-size: 19px;
  }

  #general .main-slider {
    margin: 0;
  }

  #general #product-list .owl-nav {
    display: none;
  }

  #collection .collection-name {
    font-size: 28px;
    margin: 20px 0;
  }

  #shop-of-week .shop-collection .shop-collection-wrapper {
    margin-top: 0;
    padding: 30px 0;
  }

  #shop-of-week .right {
    display: none;
  }

  #shop-of-week .owl-nav {
    display: none !important;
  }

  #shop-of-week .grid > .middle {
    flex-direction: column;
  }

  #trendy .content {
    flex-direction: column;
  }

  #trendy .trendy-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  #trendy .trendy-content img {
    width: 60%;
  }

  #trendy .shop-now-button {
    line-height: 50px;
    height: 50px;
    font-size: 20px;
  }

  #trendy #product-list .middle {
    flex-direction: column;
  }

  #trendy-outfits-banner .wrapper {
    flex-direction: column;
  }

  #trendy-outfits-banner .for-her,
  #trendy-outfits-banner .for-him {
    padding: 0 15px;
  }

  #trendy .content.only-him-mobile {
    flex-direction: column-reverse;
  }

  .footer-wrapper {
    flex-direction: column;
    text-align: center;
    padding: 0 30px 30px;
  }

  #footer .title {
    font-size: 22px;
    padding: 16px 0;
  }

  #footer .content {
    list-style-type: none;
  }

  #footer .content li {
    line-height: 30px;
  }
}
